// Helper styles

// Parent container must
// have position set to relative to work
%perfect-center {
  left: 50%;
  margin-top: 4px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}

.section-buffer-top {
  margin-top: 60px;
}

.section-buffer-bottom {
  margin-bottom: 60px;
}

%hide-text {
  overflow: hidden;
  text-indent: -99999px;
  white-space: nowrap;
}
