// Mixin styles

// Interchange-full-bg-image
// Interchange full-bg-image for retina screens
// @param {string} $file-path - relative path to file
// @param {string} $ext - file type (e.g. jpg, png, svg)
//
@mixin full-bg-image($file-path, $ext, $bg-color: $body-background) {
  background: #{$bg-color} url("#{$img-directory-root}/#{$file-path}.#{$ext}") no-repeat center center;
  background-size: cover;

  // on retina, use image that's scaled by 2 //
  @media (min--moz-device-pixel-ratio: 1.3),
  (-o-min-device-pixel-ratio: 2.6/2),
  (-webkit-min-device-pixel-ratio: 1.3),
  (min-device-pixel-ratio: 1.3),
  (min-resolution: 1.3dppx) {
    background: #{$bg-color} url("#{$img-directory-root}/#{$file-path}.#{$ext}") no-repeat center center;
    background-size: cover;
  }
}

// Generate filter
// Generates as full-width filter
// @param {string} $color - color of filter
// @param {string} $op - opacity of filter
//
@mixin gen-filter($color, $op) {
  background-color: rgba($color, $op);
  bottom: 0;
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 5;
}
